services:
  db:
    image: pgvector/pgvector:pg17
    environment:
    - POSTGRES_USER=odoo
    - POSTGRES_PASSWORD=odoo19@2025
    - POSTGRES_DB=postgres
    restart: always
    volumes:
    - ./postgresql:/var/lib/postgresql/data
  odoo19:
    build:
      args:
        ODOO_COMMIT: 66064bd026c7b90e6353a95bb3c92d9dfbc84346
      context: .
      dockerfile: Dockerfile.odoo19
    depends_on:
    - db
    environment:
    - PGHOST=db
    - PGUSER=odoo
    - PGPASSWORD=odoo19@2025
    - PIP_BREAK_SYSTEM_PACKAGES=1
    image: odoo19:cacep-66064bd
    ports:
    - "10019:8069"
    - "20019:8072"
    restart: always
    tty: true
    user: root
    volumes:
    - ./entrypoint.sh:/entrypoint.sh
    - ./addons:/mnt/extra-addons
    - ./etc:/etc/odoo
